# =========================
# Python cache & compiled files
# =========================
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# =========================
# macOS system files
# =========================
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root
.Spotlight-V100
.Trashes

# =========================
# Virtual environments
# =========================
.env/
.venv/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# PyCharm
# =========================
.idea/

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Testing Individual Components Code
# =========================
mcu/SDS/IoT_comms_temp_arm.py
mcu/SDS/mechanical_motor_deployment_temp.py

mcu/DCC/electrical_sensor_readings_temp.py
mcu/DCC/IoT_comms_temp_sensor_box.py


# =========================
# Testing
# =========================
.coverage
htmlcov/
.pytest_cache/

run.sh
run.bat

settings.toml

.env